<div class="bg-light border-right" id="sidebar-wrapper">
  <div class="sidebar-heading"><h4 class="m-0 font-weight-bold text-primary">Borrador</h4></div>
  <div class="list-group list-group-flush">
    <a href="/dashboard" class="list-group-item list-group-item-action bg-light">Inicio</a>
    <a href="/playfields" class="list-group-item list-group-item-action bg-light">Canchas</a>
    <a href="/appointments" class="list-group-item list-group-item-action bg-light">Reservas</a>
    <a href="/users" class="list-group-item list-group-item-action bg-light">Usuarios</a>
  </div>
</div>
