<div class="bg-light border-right" id="sidebar-wrapper">
  <div class="sidebar-heading"><h4 class="m-0 font-weight-bold text-primary">Sistema</h4></div>
  <div class="list-group list-group-flush">
    <a href="#" class="list-group-item list-group-item-action bg-light">Inicio</a>
    <a href="#" class="list-group-item list-group-item-action bg-light">Enlace 1</a>
    <a href="#" class="list-group-item list-group-item-action bg-light">Enlace 2</a>
    <a href="/users" class="list-group-item list-group-item-action bg-light"><i class="fas fa-users"></i> Usuarios</a>
  </div>
</div>
